<div class = "row">
    <div class ="col text-center" style="">
        <% prefecture_view %>
        <h1><%= @prefecture.name %>のお土産</h1>
        
        <% @souvenirs.each do |souvenir| %>
            <% if souvenir.del_flg != 1 %>
                <div class = "col text-center">
                <%= image_tag souvenir.image_name.to_s,size:'200x200' %>
                <h3><%= link_to souvenir.name, sou_show_path(souvenir.id) %></h3>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
<div>
    <%= @wiki %>
</div>


