<div class="row">
  <div class="col text-center" style="">
    <% @souvenirs.each do |souvenir| %>
    <% if souvenir.del_flg != 1 %>
    <h1> <%= souvenir.prefecture.name %> のお土産</h1>
    <div class="col text-left">
      <%= link_to souvenir.name, sou_show_path(souvenir.id) %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<div>