<h1>全国お土産検索</h1>
<div>
  <% @prefectures.each do |pre| %>
  <% (@region_num + 1).times do | r | %>
  <div>
    <% if pre.region_id == r %>
    <%= link_to pre.name, sou_index_path(pre.id) %><br />
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>