<div class="col-xs-10">

    <% @regions.each do |r| %>
    <h3><%= r.name %></h3>
        <% @prefectures.each do |p| %>
            <% if p.region_id == r.id %>
                <%= link_to p.name, sou_index_path(p) %>
                (<%= p.liked_users.count %>)
            <% end %>
        <% end %>
    <% end %>

</div>